.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  text-align: center;
  border:solid rgb(24, 102, 112) 5px;
  margin: 550px;
  margin-top: 50px;
  
}
img{
  border-radius: 10px;
  height: 30vh;
  width: 23vw;
  margin-top: 15px;
}
h1,h2,p{

  text-align: left;
  margin-left: 25px;
}
h1{
  font-size: 50px;
  font: bolder;
  color: rgb(18, 147, 228);
  margin-top: 10px;
  margin-bottom: -10px;
}
p{
    color: grey;
    margin-bottom: -18px;
    font-weight: bolder;
    margin-top: 15px;
  }